:host
  display block

::ng-deep .c-auth-form
  padding 5rem 0

::ng-deep .c-auth-form__item
  margin-bottom 1.875rem

::ng-deep .c-auth-form__item--small
  margin-bottom 1rem

::ng-deep .c-auth-form__item--big
  margin-bottom 3.125rem

::ng-deep .c-auth-form__button
  display block
  margin 0 auto
  max-width 264px
  display flex
  align-items center
  justify-content center

.c-merge-confirmation
  padding 40px

.c-merge-confirmation__header
  margin-bottom 50px
  padding-bottom 30px
  border-bottom 1px solid #ededed

.c-merge-confirmation__message
  margin-bottom 35px
  line-height 1.625 !important

.c-merge-confirmation__button
  margin-bottom 30px
